node_modules
# dependencies
node_modules

# next
.next
out

# local env
.env
.env.local
.env.*.local

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# pnpm
.pnpm-store

# npm
.npm

# cache
.cache

# prisma
prisma/dev.db
prisma/dev.db-journal

# mac
.DS_Store

# turbopack
.turbo
